{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_subject_load' %}

{% block main %}
    <h1>{{ 'title.load_subjects'|trans }}</h1>

    {{ form_start(form) }}
	<br><br>
        {{ form_row(form.sourceFile) }}
		
	<br><br>
        <input type="submit" value="{{ 'label.load_subjects'|trans }}" class="btn btn-primary" />

        <a href="{{ path('admin_user_index') }}" class="btn btn-link">
            {{ 'action.back_to_list_user'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">

    </div>


{% endblock %}
