{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_session_index' %}

{% block main %}
    <section>
        	<button class="btn-default" id="btn-pdf-session">Genérer PDF</button>
            <div id="to-print">
                <div class="row text-center">
                    <h2 class="cap">{% if session.stype == 0 %} p.f.e-ingenieurs {% endif %}{% if session.stype == 1 %} s.f.e en licence appliquée {% endif %}session juin 2015</h2>
                    <h3>Salle {{ session.classroom }}</h3>
                </div>
                <div class="row"  style="margin-left: 0px; margin-right: 0px;">
                    <table class="table table-condensed body-table" style="display:table">
                    	<!-- Details -->
                        <tr class="text-center">
                            <td style="width: 20%;">Filière: {{ session.section }}</td>
                            <td>Session: {{ session.id }}</td>
                            <td>Date: {{ session.sdate|date('d-m-Y') }}</td>
                        </tr>
                        <!-- president -->
                        <tr class="text-center">
                            <td colspan="3">Président du jury: <span class="cap">{{ session.president.firstname }}</span> {{ session.president.lastname }}</td>
                        </tr>
                        {% for soutenance in session.soutenances %}
                        <tr>
                            <td rowspan="6" colspan="1">{{ soutenance.stime | date('H:i') }}</td>
                            <td class="key-td" style="background-color:#a7a4a4;width: 30%;">Condidat</td>
                            <td class="key-td" style="background-color:#a7a4a4;"><span class="cap">{{ soutenance.student.firstname }}</span> {{ soutenance.student.lastname }}</td>
                        </tr>
                        <tr>
                            <td>Sujet</td>
                            <td>{{ soutenance.subject }}</td>
                        </tr>
                        <tr>
                            <td>Entreprise</td>
                            <td>{{ soutenance.company }}</td>
                        </tr>
                        <tr>
                            <td>Responsable à l'entreprise</td>
                            <td>{{ soutenance.etuteur }}</td>
                        </tr>
                        <tr>
                            <td>Responsable à l'INSAT</td>
                            <td>{{ soutenance.encadrant }}</td>
                        </tr>
                        <tr>
                            <td>Examinateur</td>
                            <td>{{ soutenance.examinateur }}</td>
                        </tr>
						{% else %}
							<tr>
								<td colspan="4" align="center">{{ 'section.no_posts_found'|trans }}</td>
						   </tr>
						{% endfor %}
                    </table>	
                </div>
            </div>
        </section>
		<style>
		#main{
			width:100%;
		}
		</style>
{% endblock %}
{% block sidebar %}
 <div class="section actions">
        
    </div>

{% endblock %}

